# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

 __Objectives:__
 
    * Some of the popular languages that Data Scientists
    * Some of the commonly used libraries used by Data Scientists
    * Data Science Tools
    * examples of evaluating arithmetic expressions in Python
    * a simple arithmetic expression to mutiply then add integer

## Some of the popular languages that Data Scientists use are:
    1.Python
    2.R
    3.SQL
    4.Julia

## Some of the commonly used libraries used by Data Scientists include:
    1.pandas
    2.numpy
    3.matplotlib
    4.ggplot2

## Data Science Tools
   | Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
round(200/60,1)

3.3

## Author
    mamoun al-hasan